In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import random
import string
import hashlib
import json


#Loading data
columns_name = ['id', 'date', 'latitude', 'longitude' ]
df = pd.read_csv('../Data_Anom/real_data_set.csv', names = columns_name, sep = '\t')
df['date'] = df['date'].str.slice(stop = 16)
df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d %H:%M")

df['week'] = df['date'].dt.isocalendar().week

In [2]:
id_week_ori = df.groupby('id')['week'].unique()
list_id_ori = df["id"].unique()
print(np.sort(list_id_ori), len(list_id_ori))

[  1   2   4   5   6   7   8   9  11  13  14  15  16  17  18  21  23  24
  25  26  27  28  29  30  31  32  34  35  36  37  38  39  41  42  43  44
  48  49  50  51  52  53  54  55  58  59  60  62  63  65  66  67  68  69
  70  71  72  73  75  77  78  81  83  84  87  89  98 107 110] 69

In [3]:
for week, group in df.groupby('week'):
    print(f'Week {week}:')
    df_week = df[df['week'] == week]
    count_id_ori_week = df_week['id'].value_counts().reset_index()
    count_id_ori_week.columns = ['id', 'count']
    count_id_ori_week = count_id_ori_week.sort_values(by='count', ascending=True)
    list_count_id_ori_week = count_id_ori_week['id'].tolist()
    print(list_count_id_ori_week, len(list_count_id_ori_week))
    print()

Week 10:
[98, 18, 63, 107, 5, 66, 78, 32, 30, 77, 68, 29, 48, 110, 35, 2, 13, 83, 73, 60, 67, 25, 71, 16, 34, 24, 49, 1, 39, 41, 21, 89, 23, 72, 43, 54, 59, 26, 9, 28, 17, 37, 75, 58, 44, 15, 51, 31, 8, 14, 7, 52, 50, 27, 55, 87, 36, 11, 69, 42, 4, 38, 62, 6] 64

Week 11:
[29, 98, 5, 48, 58, 30, 77, 107, 110, 21, 78, 63, 68, 54, 25, 49, 37, 6, 1, 75, 60, 16, 13, 23, 34, 67, 89, 2, 83, 14, 41, 15, 24, 11, 52, 36, 9, 26, 44, 59, 73, 43, 8, 31, 28, 7, 17, 55, 72, 62, 87, 4, 38, 51, 50, 69, 27, 42, 53] 59

Week 12:
[34, 63, 38, 84, 65, 16, 55, 71, 78, 68, 70, 15, 77, 30, 107, 1, 9, 24, 44, 18, 32, 53, 6, 81, 66, 41, 52, 8, 2, 60, 75, 49, 26, 72, 67, 69, 43, 42, 51, 62, 31, 59, 13, 73, 28, 50, 87, 7, 17, 27, 4] 51

Week 13:
[44, 71, 77, 29, 70, 9, 84, 43, 54, 18, 41, 63, 49, 35, 52, 60, 24, 68, 83, 30, 32, 78, 66, 1, 51, 65, 17, 75, 67, 2, 8, 13, 28, 59, 72, 31, 73, 81, 62, 69, 7, 26, 27, 42, 53, 6, 50, 4] 48

Week 14:
[71, 17, 52, 78, 9, 84, 29, 35, 54, 70, 68, 53, 27, 32, 63, 66, 49, 75, 41, 24, 28, 51, 81, 73, 1, 67, 72, 30, 31, 13, 83, 59, 2, 62, 42, 65, 69, 8, 7, 50, 4, 6] 42

Week 15:
[26, 27, 71, 83, 44, 65, 63, 18, 49, 39, 32, 68, 35, 66, 13, 24, 7, 51, 75, 30, 41, 31, 2, 73, 62, 69, 67, 9, 42, 72, 1, 50, 8, 81, 59, 4, 6] 37

Week 16:
[83, 31, 66, 87, 7, 48, 26, 78, 36, 35, 68, 41, 30, 63, 32, 9, 49, 13, 39, 18, 8, 71, 24, 51, 75, 27, 73, 67, 2, 62, 42, 1, 72, 69, 59, 6, 50, 4] 38

Week 17:
[78, 87, 71, 77, 83, 26, 51, 18, 8, 66, 63, 41, 30, 17, 27, 68, 32, 1, 24, 73, 75, 50, 13, 7, 42, 2, 67, 69, 59, 72, 4] 31

Week 18:
[36, 39, 18, 32, 89, 63, 30, 17, 77, 78, 66, 68, 71, 83, 26, 75, 73, 51, 24, 50, 87, 67, 1, 59, 62, 69, 42, 72, 2, 4] 30

Week 19:
[17, 58, 43, 32, 13, 63, 26, 66, 83, 30, 39, 18, 73, 68, 87, 9, 51, 24, 1, 75, 59, 60, 67, 2, 42, 50, 72, 62, 69, 4] 30

Week 20:
[13, 18, 77, 2, 66, 51, 68, 75, 42, 1, 67, 72, 24, 73, 50, 59, 69, 4, 62] 19

In [4]:
for week, group in df.groupby('week'):
    print(f'Week {week}:')
    df_week = df[df['week'] == week]    
    count_id_ori_each_week = df_week['id'].value_counts().reset_index()
    count_id_ori_each_week.columns = ['id', 'count']

    print(count_id_ori_each_week)

Week 10:
     id   count
0     6  238005
1    62  209941
2    38  200805
3     4  198951
4    42  183845
..  ...     ...
59    5    4110
60  107    3215
61   63    1221
62   18     923
63   98     444

[64 rows x 2 columns]
Week 11:
     id   count
0    53  311171
1    42  288453
2    27  256638
3    69  243740
4    50  241614
5    51  216169
6    38  208422
7     4  195647
8    87  195320
9    62  190390
10   72  163536
11   55  159087
12   17  149269
13    7  140274
14   28  137035
15   31  136774
16    8  136629
17   43  134535
18   73  122894
19   59  121514
20   44  116557
21   26  113238
22    9  109638
23   36   91063
24   52   84146
25   11   76972
26   24   74595
27   15   67135
28   41   62907
29   14   57700
30   83   57338
31    2   56993
32   89   54949
33   67   53496
34   34   51920
35   23   40703
36   13   39178
37   16   38757
38   60   35893
39   75   35739
40    1   32587
41    6   29598
42   37   26438
43   49   23574
44   25   20949
45   54   19377
46   68   16790
47   63   15399
48   78   11050
49   21   10878
50  110    8471
51  107    8388
52   77    8211
53   30    7829
54   58    4945
55   48    3940
56    5    3772
57   98    1791
58   29    1251
Week 12:
     id   count
0     4  249398
1    27  217360
2    17  213118
3     7  183814
4    87  183669
5    50  180045
6    28  170287
7    73  152605
8    13  129496
9    59  124061
10   31  119217
11   62  117390
12   51  116951
13   42  109114
14   43  108906
15   69  102983
16   67  101775
17   72   95585
18   26   90710
19   49   79191
20   75   76802
21   60   69658
22    2   69531
23    8   68719
24   52   67352
25   41   65954
26   66   59635
27   81   59589
28    6   58664
29   53   48778
30   32   46745
31   18   44981
32   44   41934
33   24   41134
34    9   41093
35    1   40078
36  107   37157
37   30   31469
38   77   26671
39   15   19224
40   70   16849
41   68   14882
42   78   13465
43   71   13371
44   55   12234
45   16    6711
46   65    6156
47   84    4396
48   38    3247
49   63     989
50   34      14
Week 13:
    id   count
0    4  255331
1   50  246617
2    6  236633
3   53  227772
4   42  218534
5   27  207890
6   26  202582
7    7  200462
8   69  198794
9   62  196445
10  81  194606
11  73  189500
12  31  173865
13  72  171305
14  59  156971
15  28  149158
16  13  140676
17   8  132589
18   2  122580
19  67  118341
20  75  109996
21  17   94375
22  65   78357
23  51   76683
24   1   70359
25  66   59580
26  78   56011
27  32   54500
28  30   48969
29  83   46278
30  68   39365
31  24   38435
32  60   38058
33  52   30749
34  35   27767
35  49   27315
36  63   23690
37  41   21773
38  18   21766
39  54   15384
40  43   12853
41  84   12293
42   9   11845
43  70    7491
44  29    5910
45  77    5269
46  71    3910
47  44      49
Week 14:
    id   count
0    6  327245
1    4  246519
2   50  229367
3    7  158832
4    8  158487
5   69  155983
6   65  154582
7   42  149769
8   62  143289
9    2  141304
10  59  138771
11  83  133107
12  13  131947
13  31  108782
14  30   83664
15  72   81472
16  67   72681
17   1   72086
18  73   64970
19  81   61749
20  51   58755
21  28   49265
22  24   48783
23  41   46678
24  75   40854
25  49   40182
26  66   34575
27  63   30460
28  32   25996
29  27   23807
30  53   20825
31  68   16236
32  70   12361
33  54   11825
34  35   11006
35  29   10862
36  84    9264
37   9    9105
38  78    9085
39  52    5235
40  17    4532
41  71     988
Week 15:
    id   count
0    6  290113
1    4  254884
2   59  237176
3   81  232623
4    8  230495
5   50  212878
6    1  199893
7   72  169877
8   42  155154
9    9  138318
10  67  135401
11  69  117045
12  62  115742
13  73  112848
14   2  100047
15  31   77391
16  41   71117
17  30   66098
18  75   65951
19  51   51612
20   7   51215
21  24   49495
22  13   43615
23  66   42123
24  35   35027
25  68   26541
26  32   22937
27  39   20675
28  49   19569
29  18   18271
30  63   17052
31  65   10635
32  44    8090
33  83    7505
34  71    1012
35  27     568
36  26      19
Week 16:
    id   count
0    4  285793
1   50  239186
2    6  195492
3   59  187427
4   69  179731
5   72  158730
6    1  144035
7   42  138378
8   62  122453
9    2  108897
10  67   97159
11  73   95008
12  27   84292
13  75   80269
14  51   66821
15  24   62760
16  71   58148
17   8   55830
18  18   45135
19  39   41847
20  13   30472
21  49   29350
22   9   27915
23  32   26443
24  63   23307
25  30   18764
26  41   16348
27  68    8027
28  35    7113
29  36    6975
30  78    5331
31  26    5089
32  48    4099
33   7    4063
34  87    3545
35  66    2933
36  31    1864
37  83     578
Week 17:
    id   count
0    4  276234
1   72  215387
2   59  147988
3   69  143926
4   67  139143
5    2  136794
6   42  132791
7    7  123758
8   13  116825
9   50  111681
10  75   95209
11  73   85925
12  24   80211
13   1   69124
14  32   47601
15  68   32183
16  27   21337
17  17   16059
18  30   14736
19  41   14500
20  63   13402
21  66   12192
22   8    9248
23  18    6532
24  51    6113
25  26    5620
26  83    5260
27  77    4044
28  71    3327
29  87    3201
30  78    1306
Week 18:
    id   count
0    4  287864
1    2  187755
2   72  175761
3   42  173609
4   69  168737
5   62  161613
6   59  105805
7    1   98905
8   67   94531
9   87   85778
10  50   85079
11  24   75202
12  51   71336
13  73   57243
14  75   51168
15  26   34312
16  83   24264
17  71   17641
18  68   11855
19  66   11652
20  78   10576
21  77    9575
22  17    7969
23  30    6446
24  63    4002
25  89    3586
26  32    2660
27  18    2190
28  39      68
29  36      57
Week 19:
    id   count
0    4  335942
1   69  224026
2   62  196825
3   72  167881
4   50  153061
5   42  136038
6    2  134631
7   67  134454
8   60  125797
9   59  117795
10  75   99873
11   1   80943
12  24   70008
13  51   38215
14   9   36672
15  87   33645
16  68   32663
17  73   28647
18  18   23605
19  39   20671
20  30   16344
21  83   11556
22  66    6849
23  26    5922
24  63    3006
25  13    2067
26  32    1962
27  43    1053
28  58     722
29  17     571
Week 20:
    id  count
0   62  38252
1    4  35180
2   69  35074
3   59  28260
4   50  27189
5   73  26494
6   24  23945
7   72  20032
8   67  19298
9    1  11670
10  42   9916
11  75   9765
12  68   6339
13  51   3644
14  66   1911
15   2    366
16  77    195
17  18    157
18  13      2

In [3]:
#Random minute : returns a new date by adding or subtracting the random number of minutes, depending on whether the hour remains the same.
def random_minute(date):
    rand_min = random.randint(-29,29)
    return date - dt.timedelta(minutes=rand_min) if date.hour == (date - dt.timedelta(minutes=rand_min)).hour else date + dt.timedelta(minutes=rand_min)

#Change date to random (same week)
def change_date(date):
    rand_day = int(np.random.choice([-1,0,1], p=[0.02, 0.96, 0.02]))
    return date - dt.timedelta(days=rand_day) if date.isocalendar()[1] == (date - dt.timedelta(days=rand_day)).isocalendar()[1] else date + dt.timedelta(days=rand_day)

In [4]:
#Set id to 'DEL' with lines duplicated and retain only the first occurrence of each unique combination of values in these columns.
id_time = df.drop_duplicates(['id', 'date', 'latitude', 'longitude'])
print(id_time.shape)

index_not_change = np.array(id_time.index)
df.loc[~df.index.isin(index_not_change) , 'id'] = "DEL"

print(df.head())

(16654892, 5)
    id                date  latitude  longitude  week
0    1 2015-03-04 00:35:00  4.870147  45.772140    10
1    1 2015-03-04 00:35:00  4.870218  45.772095    10
2    1 2015-03-04 00:35:00  4.870210  45.772072    10
3  DEL 2015-03-04 00:35:00  4.870210  45.772072    10
4  DEL 2015-03-04 00:35:00  4.870210  45.772072    10

In [5]:
df

           id                date  latitude  longitude  week
0           1 2015-03-04 00:35:00  4.870147  45.772140    10
1           1 2015-03-04 00:35:00  4.870218  45.772095    10
2           1 2015-03-04 00:35:00  4.870210  45.772072    10
3         DEL 2015-03-04 00:35:00  4.870210  45.772072    10
4         DEL 2015-03-04 00:35:00  4.870210  45.772072    10
...       ...                 ...       ...        ...   ...
34551844  110 2015-03-12 16:23:00  2.343094  48.891650    11
34551845  110 2015-03-12 16:23:00  2.343094  48.891650    11
34551846  110 2015-03-12 16:23:00  2.343094  48.891649    11
34551847  110 2015-03-12 16:23:00  2.343094  48.891649    11
34551848  110 2015-03-12 19:29:00  2.343127  48.891772    11

[34551849 rows x 5 columns]

In [6]:
#Change lat-long
df['latitude'] = df['latitude'] + 0.005 * (1 / (1 + np.exp(-np.sin(df['latitude']))))
df['longitude'] = df['longitude'] + 0.005 * (1 / (1 + np.exp(-np.sin(df['longitude']))))

In [7]:
#Apply random_minute for the ids not DEL
df.loc[df['id'] != 'DEL', 'date'] = df.loc[df['id'] != 'DEL', 'date'].apply(random_minute)

#Apply change_date for the ids not DEL
df.loc[df['id'] != 'DEL', 'date'] = df.loc[df['id'] != 'DEL', 'date'].apply(change_date)

In [10]:
for week, group in id_time.groupby('week'):
    print(f'Week {week}:')
    id_time_week = id_time[id_time['week'] == week]    
    count_id_ori_each_week = id_time_week['id'].value_counts().reset_index()
    count_id_ori_each_week.columns = ['id', 'count']

    print(count_id_ori_each_week)

Week 10:
     id   count
0     6  222194
1     4  117768
2    11   97240
3    38   87014
4    42   66530
..  ...     ...
59   66    2992
60  107    2210
61   63     921
62   18     752
63   98     344

[64 rows x 2 columns]
Week 11:
     id   count
0    50  126067
1    69  121589
2    27  116479
3    51  113625
4     4  109532
5    42   99890
6    38   97228
7    53   93147
8    72   92751
9     8   77954
10   28   74121
11   55   67150
12    9   66603
13   43   62098
14    7   57972
15   26   52211
16   59   51345
17   17   49828
18   31   48240
19    2   44983
20   44   44204
21   11   41443
22   24   41126
23   87   40434
24   15   38426
25   52   38146
26   14   36644
27   89   32242
28   67   32093
29   73   30715
30   62   26404
31    6   26272
32   83   25460
33   23   24810
34   34   24373
35    1   22629
36   36   22407
37   13   22142
38   41   22126
39   75   20946
40   25   15693
41   60   13751
42   37   12962
43   68   12558
44   54   10233
45   63   10210
46   49    9690
47  110    7828
48   78    6359
49  107    5912
50   21    5838
51   30    4396
52   77    3941
53   48    2901
54   16    2688
55   58    2610
56    5    2101
57   98     629
58   29     116
Week 12:
     id   count
0     4  140834
1     7   83563
2    27   83161
3    50   71132
4    17   65801
5    13   61945
6    72   61769
7    59   59536
8    69   55964
9     2   52984
10   42   51220
11   51   49323
12   26   48572
13    6   45361
14   75   42731
15   67   42568
16    8   41024
17   43   40461
18   49   37805
19   60   34809
20   31   34122
21   52   33644
22   73   30378
23   81   28727
24   41   28307
25   32   27291
26   28   26339
27   24   25114
28  107   24554
29   66   23105
30   30   20109
31   18   19053
32   87   18205
33    1   17640
34   53   17226
35   62   16576
36    9   16306
37   77   14422
38   15   10024
39   70    9816
40   68    9367
41   44    8780
42   78    7007
43   55    6030
44   71    4705
45   65    3840
46   16    1862
47   38    1443
48   84    1309
49   63     637
50   34       7
Week 13:
    id   count
0    6  217933
1    4  146832
2   81  124589
3   50  120527
4   69  107934
5   27  101889
6   42  101834
7    2   89506
8    7   87571
9   26   84949
10  72   80764
11  53   75726
12   8   70107
13  73   69035
14  59   68436
15  13   65391
16  67   64030
17  62   55019
18   1   48395
19  75   47425
20  51   46537
21  28   39998
22  65   37489
23  66   36352
24  31   35690
25  17   33807
26  78   28904
27  30   26516
28  24   22637
29  52   21944
30  60   20953
31  68   16564
32  35   15205
33  32   15133
34  83   14883
35  18   13371
36  49   11561
37  63   11324
38  41    9395
39  84    8427
40   9    8084
41  54    6854
42  43    5282
43  77    4801
44  70    3564
45  29    2910
46  71    2121
47  44      18
Week 14:
    id   count
0    6  301909
1   50  133569
2    4  133245
3    8   93652
4   65   89675
5    2   86947
6   69   76158
7    7   69189
8   42   67669
9   13   62930
10  59   52302
11  72   50684
12   1   45999
13  31   38314
14  83   38277
15  51   37934
16  62   35185
17  81   34789
18  67   34165
19  41   30231
20  24   25184
21  30   24809
22  75   22220
23  66   18031
24  73   16557
25  49   16490
26  28   15810
27  63   13628
28  32   12388
29  53   10688
30  70    8610
31  68    7662
32  78    6286
33   9    6171
34  35    5975
35  27    5623
36  29    4404
37  54    4202
38  84    4065
39  17    3031
40  52    1397
41  71     399
Week 15:
    id   count
0    6  261858
1    4  153704
2   81  131475
3    8  123238
4   72  108528
5    1   92738
6    9   90272
7   59   86724
8   50   78688
9    2   67936
10  42   66027
11  69   57974
12  67   54355
13  62   53202
14  73   38099
15  75   31240
16  24   30066
17  41   27593
18  51   26854
19   7   25259
20  13   23069
21  31   20474
22  30   19955
23  35   16787
24  66   16346
25  39   12916
26  32   11377
27  68   11094
28  49   11081
29  18   10782
30  65    8150
31  63    5951
32  83    3480
33  44     606
34  71     514
35  27      76
36  26      10
Week 16:
    id   count
0    6  182948
1    4  161054
2   69   96512
3    1   84978
4    2   81274
5   72   79471
6   59   74579
7   42   70163
8   62   60621
9   67   42756
10  75   41848
11  50   40721
12  51   37317
13   8   35822
14  24   31185
15  73   25021
16  27   21237
17   9   20228
18  18   18834
19  71   14615
20  39   10721
21  13   10156
22  63    9949
23  30    6264
24  68    5931
25  26    3875
26  48    3763
27  35    3614
28  36    3162
29  78    2815
30   7    2650
31  32    2424
32  49    1964
33  41    1484
34  66    1205
35  31    1012
36  87     864
37  83     162
Week 17:
    id   count
0    4  167757
1   72  111254
2    7   79617
3   69   75691
4   42   71852
5    2   63660
6   67   60390
7   59   55644
8   50   52604
9   13   47238
10  24   46005
11   1   44769
12  75   39451
13  73   27576
14  68   21369
15  32   14227
16  17   12659
17  27    6613
18   8    6552
19  30    6428
20  41    5997
21  63    4887
22  18    3902
23  66    3664
24  51    3449
25  26    2404
26  71    1739
27  77    1567
28  78    1130
29  83     745
30  87     514
Week 18:
    id   count
0    4  161850
1    2  141292
2   72  126205
3   69   89332
4   42   79432
5   62   76709
6    1   71560
7   67   48946
8   59   47189
9   51   43120
10  24   40927
11  75   27011
12  50   25975
13  26   19181
14  87   14068
15  73   11066
16  83    8706
17  68    8511
18  71    8004
19  78    4903
20  77    3951
21  66    3936
22  17    3806
23  89    2171
24  30    2110
25  63    1787
26  18    1214
27  32    1096
28  39      39
29  36      24
Week 19:
    id   count
0    4  130074
1   69  121078
2   72  115362
3    2  110203
4   50   85624
5   42   68407
6   60   67179
7   67   59393
8   75   55073
9   59   53898
10  62   49339
11   1   48824
12  24   29694
13  68   23375
14   9   20952
15  51   16931
16  18   11645
17  39    8126
18  87    7365
19  30    5368
20  83    5142
21  26    4064
22  66    2848
23  73    2429
24  63    1228
25  13    1152
26  43     721
27  32     586
28  17     548
29  58     182
Week 20:
    id  count
0    4  24041
1   69  17634
2   50  16355
3   59  13815
4   62  13362
5   72  13255
6   67   9569
7   24   7978
8    1   6728
9   75   5519
10  42   5476
11  68   3054
12  51   2476
13  73   2022
14  66   1060
15   2    341
16  18    148
17  77    128
18  13      2

In [8]:
#Id anonymisation
id_time['new_id'] =  3 * id_time['id'] + id_time['week']

id_time['new_id'] = id_time['new_id'].apply(lambda x: int(x * np.log(x) + (abs(1 - x)) * np.log(abs(1 - x))))
df.loc[df['id'] != 'DEL', 'id'] = id_time['new_id']

C:\Users\Phuoc Le\AppData\Local\Temp\ipykernel_15792\1271131018.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_time['new_id'] =  3 * id_time['id'] + id_time['week']
C:\Users\Phuoc Le\AppData\Local\Temp\ipykernel_15792\1271131018.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_time['new_id'] = id_time['new_id'].apply(lambda x: int(x * np.log(x) + (abs(1 - x)) * np.log(abs(1 - x))))

In [9]:
df

            id                date  latitude  longitude  week
0           63 2015-03-04 00:21:00  4.871504  45.775772    10
1           63 2015-03-04 00:22:00  4.871575  45.775727    10
2           63 2015-03-04 00:54:00  4.871567  45.775703    10
3          DEL 2015-03-04 00:35:00  4.871567  45.775703    10
4          DEL 2015-03-04 00:35:00  4.871567  45.775703    10
...        ...                 ...       ...        ...   ...
34551844  3970 2015-03-12 16:52:00  2.346453  48.893013    11
34551845  3970 2015-03-12 16:29:00  2.346453  48.893013    11
34551846  3970 2015-03-12 16:28:00  2.346453  48.893013    11
34551847  3970 2015-03-12 16:52:00  2.346453  48.893013    11
34551848  3970 2015-03-12 19:58:00  2.346486  48.893136    11

[34551849 rows x 5 columns]

In [19]:
new_df = df.loc[df['id'] != 'DEL']

In [20]:
new_df

            id                date  latitude  longitude  week
0           63 2015-03-04 00:12:00  4.871504  45.775772    10
1           63 2015-03-04 00:27:00  4.871575  45.775727    10
2           63 2015-03-04 00:39:00  4.871567  45.775703    10
10          63 2015-03-04 00:48:00  4.871567  45.775703    10
29          63 2015-03-04 00:40:00  4.871474  45.775767    10
...        ...                 ...       ...        ...   ...
34551844  3970 2015-03-12 16:19:00  2.346453  48.893013    11
34551845  3970 2015-03-13 16:07:00  2.346453  48.893013    11
34551846  3970 2015-03-12 16:49:00  2.346453  48.893013    11
34551847  3970 2015-03-12 16:38:00  2.346453  48.893013    11
34551848  3970 2015-03-12 19:22:00  2.346486  48.893136    11

[16654892 rows x 5 columns]

In [21]:
id_new_week_ori = new_df.groupby('id')['week'].unique()
list_new_id_ori = new_df["id"].unique()
print(np.sort(list_new_id_ori), len(list_new_id_ori))

[63 70 77 84 92 100 107 115 123 131 140 148 156 165 173 182 190 199 208
 217 226 235 244 253 262 271 281 290 299 309 318 328 347 376 386 396 405
 415 425 435 445 455 465 476 486 496 506 516 527 537 547 558 568 579 589
 600 610 621 631 685 695 717 728 738 749 760 771 782 793 804 815 826 837
 848 859 870 881 893 915 926 937 949 960 971 982 994 1005 1017 1028 1039
 1051 1062 1074 1085 1120 1131 1143 1154 1166 1189 1201 1212 1224 1283
 1294 1306 1318 1330 1342 1353 1365 1377 1389 1401 1413 1425 1437 1449
 1461 1473 1545 1557 1581 1593 1605 1617 1630 1642 1654 1666 1678 1691
 1703 1715 1727 1740 1752 1764 1776 1801 1813 1826 1912 1925 1950 1962
 1975 1987 2000 2012 2025 2037 2050 2062 2075 2087 2100 2113 2125 2138
 2150 2163 2176 2188 2201 2214 2226 2239 2252 2264 2277 2290 2303 2315
 2328 2341 2354 2366 2379 2392 2405 2418 2430 2443 2456 2469 2482 2495
 2507 2520 2533 2546 2559 2572 2585 2598 2611 2624 2637 2650 2663 2676
 2689 2702 2715 2728 2741 2754 2767 2780 2819 2832 2845 2858 2871 2884
 2911 2924 2937 2950 2963 2977 2990 3029 3042 3056 3109 3122 3135 3148
 3215 3469 3482 3834 3847 3861 3956 3970] 238

In [22]:
for week, group in new_df.groupby('week'):
    print(f'Week {week}:')
    new_df_week = new_df[new_df['week'] == week]    
    count_id_ori_each_week = new_df_week['id'].value_counts().reset_index()
    count_id_ori_each_week.columns = ['id', 'count']

    print(count_id_ori_each_week)

Week 10:
      id   count
0    182  222194
1    131  117768
2    318   97240
3   1189   87014
4   1330   66530
..   ...     ...
59  2214    2992
60  3834    2210
61  2100     921
62   527     752
63  3469     344

[64 rows x 2 columns]
Week 11:
      id   count
0   1630  126067
1   2341  121589
2    826  116479
3   1666  113625
4    140  109532
5   1342   99890
6   1201   97228
7   1740   93147
8   2456   92751
9    244   77954
10   859   74121
11  1813   67150
12   271   66603
13  1377   62098
14   217   57972
15   793   52211
16  1962   51345
17   506   49828
18   960   48240
19    92   44983
20  1413   44204
21   328   41443
22   728   41126
23  3042   40434
24   445   38426
25  1703   38146
26   415   36644
27  3122   32242
28  2264   32093
29  2495   30715
30  2075   26404
31   190   26272
32  2884   25460
33   695   24810
34  1062   24373
35    70   22629
36  1131   22407
37   386   22142
38  1306   22126
39  2572   20946
40   760   15693
41  2000   13751
42  1166   12962
43  2303   12558
44  1776   10233
45  2113   10210
46  1593    9690
47  3970    7828
48  2689    6359
49  3847    5912
50   631    5838
51   926    4396
52  2650    3941
53  1557    2901
54   476    2688
55  1925    2610
56   165    2101
57  3482     629
58   893     116
Week 12:
      id   count
0    148  140834
1    226   83563
2    837   83161
3   1642   71132
4    516   65801
5    396   61945
6   2469   61769
7   1975   59536
8   2354   55964
9    100   52984
10  1353   51220
11  1678   49323
12   804   48572
13   199   45361
14  2585   42731
15  2277   42568
16   253   41024
17  1389   40461
18  1605   37805
19  2012   34809
20   971   34122
21  1715   33644
22  2507   30378
23  2819   28727
24  1318   28307
25  1005   27291
26   870   26339
27   738   25114
28  3861   24554
29  2239   23105
30   937   20109
31   547   19053
32  3056   18205
33    77   17640
34  1752   17226
35  2087   16576
36   281   16306
37  2663   14422
38   455   10024
39  2392    9816
40  2315    9367
41  1425    8780
42  2702    7007
43  1826    6030
44  2430    4705
45  2201    3840
46   486    1862
47  1212    1443
48  2937    1309
49  2125     637
50  1074       7
Week 13:
      id   count
0    208  217933
1    156  146832
2   2832  124589
3   1654  120527
4   2366  107934
5    848  101889
6   1365  101834
7    107   89506
8    235   87571
9    815   84949
10  2482   80764
11  1764   75726
12   262   70107
13  2520   69035
14  1987   68436
15   405   65391
16  2290   64030
17  2100   55019
18    84   48395
19  2598   47425
20  1691   46537
21   881   39998
22  2214   37489
23  2252   36352
24   982   35690
25   527   33807
26  2715   28904
27   949   26516
28   749   22637
29  1727   21944
30  2025   20953
31  2328   16564
32  1120   15205
33  1017   15133
34  2911   14883
35   558   13371
36  1617   11561
37  2138   11324
38  1330    9395
39  2950    8427
40   290    8084
41  1801    6854
42  1401    5282
43  2676    4801
44  2405    3564
45   915    2910
46  2443    2121
47  1437      18
Week 14:
      id   count
0    217  301909
1   1666  133569
2    165  133245
3    271   93652
4   2226   89675
5    115   86947
6   2379   76158
7    244   69189
8   1377   67669
9    415   62930
10  2000   52302
11  2495   50684
12    92   45999
13   994   38314
14  2924   38277
15  1703   37934
16  2113   35185
17  2845   34789
18  2303   34165
19  1342   30231
20   760   25184
21   960   24809
22  2611   22220
23  2264   18031
24  2533   16557
25  1630   16490
26   893   15810
27  2150   13628
28  1028   12388
29  1776   10688
30  2418    8610
31  2341    7662
32  2728    6286
33   299    6171
34  1131    5975
35   859    5623
36   926    4404
37  1813    4202
38  2963    4065
39   537    3031
40  1740    1397
41  2456     399
Week 15:
      id   count
0    226  261858
1    173  153704
2   2858  131475
3    281  123238
4   2507  108528
5    100   92738
6    309   90272
7   2012   86724
8   1678   78688
9    123   67936
10  1389   66027
11  2392   57974
12  2315   54355
13  2125   53202
14  2546   38099
15  2624   31240
16   771   30066
17  1353   27593
18  1715   26854
19   253   25259
20   425   23069
21  1005   20474
22   971   19955
23  1143   16787
24  2277   16346
25  1283   12916
26  1039   11377
27  2354   11094
28  1642   11081
29   579   10782
30  2239    8150
31  2163    5951
32  2937    3480
33  1461     606
34  2469     514
35   870      76
36   837      10
Week 16:
      id   count
0    235  182948
1    182  161054
2   2405   96512
3    107   84978
4    131   81274
5   2520   79471
6   2025   74579
7   1401   70163
8   2138   60621
9   2328   42756
10  2637   41848
11  1691   40721
12  1727   37317
13   290   35822
14   782   31185
15  2559   25021
16   881   21237
17   318   20228
18   589   18834
19  2482   14615
20  1294   10721
21   435   10156
22  2176    9949
23   982    6264
24  2366    5931
25   848    3875
26  1617    3763
27  1154    3614
28  1189    3162
29  2754    2815
30   262    2650
31  1051    2424
32  1654    1964
33  1365    1484
34  2290    1205
35  1017    1012
36  3109     864
37  2950     162
Week 17:
      id   count
0    190  167757
1   2533  111254
2    271   79617
3   2418   75691
4   1413   71852
5    140   63660
6   2341   60390
7   2037   55644
8   1703   52604
9    445   47238
10   793   46005
11   115   44769
12  2650   39451
13  2572   27576
14  2379   21369
15  1062   14227
16   568   12659
17   893    6613
18   299    6552
19   994    6428
20  1377    5997
21  2188    4887
22   600    3902
23  2303    3664
24  1740    3449
25   859    2404
26  2495    1739
27  2728    1567
28  2767    1130
29  2963     745
30  3122     514
Week 18:
      id   count
0    199  161850
1    148  141292
2   2546  126205
3   2430   89332
4   1425   79432
5   2163   76709
6    123   71560
7   2354   48946
8   2050   47189
9   1752   43120
10   804   40927
11  2663   27011
12  1715   25975
13   870   19181
14  3135   14068
15  2585   11066
16  2977    8706
17  2392    8511
18  2507    8004
19  2780    4903
20  2741    3951
21  2315    3936
22   579    3806
23  3215    2171
24  1005    2110
25  2201    1787
26   610    1214
27  1074    1096
28  1318      39
29  1212      24
Week 19:
      id   count
0    208  130074
1   2443  121078
2   2559  115362
3    156  110203
4   1727   85624
5   1437   68407
6   2100   67179
7   2366   59393
8   2676   55073
9   2062   53898
10  2176   49339
11   131   48824
12   815   29694
13  2405   23375
14   347   20952
15  1764   16931
16   621   11645
17  1330    8126
18  3148    7365
19  1017    5368
20  2990    5142
21   881    4064
22  2328    2848
23  2598    2429
24  2214    1228
25   465    1152
26  1473     721
27  1085     586
28   589     548
29  2025     182
Week 20:
      id  count
0    217  24041
1   2456  17634
2   1740  16355
3   2075  13815
4   2188  13362
5   2572  13255
6   2379   9569
7    826   7978
8    140   6728
9   2689   5519
10  1449   5476
11  2418   3054
12  1776   2476
13  2611   2022
14  2341   1060
15   165    341
16   631    148
17  2767    128
18   476      2

In [10]:
df = df.drop('week', axis = 1)
df

            id                date  latitude  longitude
0           63 2015-03-04 00:21:00  4.871504  45.775772
1           63 2015-03-04 00:22:00  4.871575  45.775727
2           63 2015-03-04 00:54:00  4.871567  45.775703
3          DEL 2015-03-04 00:35:00  4.871567  45.775703
4          DEL 2015-03-04 00:35:00  4.871567  45.775703
...        ...                 ...       ...        ...
34551844  3970 2015-03-12 16:52:00  2.346453  48.893013
34551845  3970 2015-03-12 16:29:00  2.346453  48.893013
34551846  3970 2015-03-12 16:28:00  2.346453  48.893013
34551847  3970 2015-03-12 16:52:00  2.346453  48.893013
34551848  3970 2015-03-12 19:58:00  2.346486  48.893136

[34551849 rows x 4 columns]

In [11]:
# Save file
df.to_csv('logarithm.csv', sep='\t', index = False, header = False, columns = None)