In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import random
import string
import hashlib
import json


#Loading data
columns_name = ['id', 'date', 'latitude', 'longitude' ]
df = pd.read_csv('../Data_Anom/real_data_set.csv', names = columns_name, sep = '\t')
df['date'] = df['date'].str.slice(stop = 16)
df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d %H:%M")

df['week'] = df['date'].dt.isocalendar().week

In [2]:
df.isnull().sum()

id           0
date         0
latitude     0
longitude    0
week         0
dtype: int64

In [3]:
df.duplicated().sum()

17896957

In [4]:
id_week_ori = df.groupby('id')['week'].unique()
list_id_ori = df["id"].unique()
print(np.sort(list_id_ori), len(list_id_ori))

[  1   2   4   5   6   7   8   9  11  13  14  15  16  17  18  21  23  24
  25  26  27  28  29  30  31  32  34  35  36  37  38  39  41  42  43  44
  48  49  50  51  52  53  54  55  58  59  60  62  63  65  66  67  68  69
  70  71  72  73  75  77  78  81  83  84  87  89  98 107 110] 69

In [5]:
#Group id--week--moyen_latitude--moyen_longitude--mean_date--count_line--mean_hour

#Original Table
df['hour'] = df['date'].dt.hour
mean_hour = df.groupby(['id','week'])['hour'].mean()

mean_lat_ori = df.groupby(['id','week'])['latitude'].mean()
mean_long_ori = df.groupby(['id','week'])['longitude'].mean()

mean_date_ori = df.groupby(['id','week'])['date'].mean()
count_ligne_ori = df.groupby(['id','week'])['date'].count()
mean_hour_ori = df.groupby(['id','week'])['hour'].mean()

ori_mean = df[['id','week']].drop_duplicates().reset_index(drop=True)
ori_mean['mean_latitude'] = ori_mean.apply(lambda x: mean_lat_ori[x.id][x.week], axis=1)
ori_mean['mean_longitude'] = ori_mean.apply(lambda x: mean_long_ori[x.id][x.week], axis=1)
ori_mean['mean_date'] = ori_mean.apply(lambda x: mean_date_ori[x.id][x.week], axis=1)
ori_mean['count_line'] = ori_mean.apply(lambda x: count_ligne_ori[x.id][x.week], axis=1)
ori_mean['mean_hour'] = ori_mean.apply(lambda x: mean_hour[x.id][x.week], axis=1)

In [6]:
print(mean_lat_ori)
print(mean_long_ori)
print(mean_date_ori) 
print(count_ligne_ori)
print(mean_hour_ori)

id   week
1    10      4.827873
     11      4.876658
     12      3.315934
     13      4.411797
     14      4.875356
               ...
107  10      4.870500
     11      4.764978
     12      4.879813
110  10     -0.119641
     11      2.344631
Name: latitude, Length: 449, dtype: float64
id   week
1    10      45.592419
     11      45.781152
     12      44.737925
     13      45.429105
     14      45.774198
               ...
107  10      45.774327
     11      45.862149
     12      45.786341
110  10      48.404082
     11      48.884047
Name: longitude, Length: 449, dtype: float64
id   week
1    10     2015-03-05 21:39:07.527484928
     11     2015-03-13 14:25:11.006843136
     12     2015-03-19 23:50:54.719796480
     13     2015-03-27 05:09:54.252334592
     14     2015-04-02 16:30:12.192103680
                         ...
107  10     2015-03-07 04:27:02.706065408
     11     2015-03-13 22:06:22.832617984
     12     2015-03-17 11:12:29.716608000
110  10     2015-03-05 20:14:22.120956416
     11     2015-03-10 22:23:44.891984384
Name: date, Length: 449, dtype: datetime64[ns]
id   week
1    10      44206
     11      32587
     12      40078
     13      70359
     14      72086
             ...
107  10       3215
     11       8388
     12      37157
110  10      21330
     11       8471
Name: date, Length: 449, dtype: int64
id   week
1    10      12.171832
     11      14.103354
     12       8.474101
     13      12.908356
     14      11.331215
               ...
107  10      12.261897
     11      13.674654
     12      13.139220
110  10      13.932208
     11      15.070240
Name: hour, Length: 449, dtype: float64

In [7]:
for week, group in df.groupby('week'):
    print(f'Week {week}:')
    df_week = df[df['week'] == week]
    count_id_ori_week = df_week['id'].value_counts().reset_index()
    count_id_ori_week.columns = ['id', 'count']
    count_id_ori_week = count_id_ori_week.sort_values(by='count', ascending=True)
    list_count_id_ori_week = count_id_ori_week['id'].tolist()
    print(list_count_id_ori_week, len(list_count_id_ori_week))
    print()

Week 10:
[98, 18, 63, 107, 5, 66, 78, 32, 30, 77, 68, 29, 48, 110, 35, 2, 13, 83, 73, 60, 67, 25, 71, 16, 34, 24, 49, 1, 39, 41, 21, 89, 23, 72, 43, 54, 59, 26, 9, 28, 17, 37, 75, 58, 44, 15, 51, 31, 8, 14, 7, 52, 50, 27, 55, 87, 36, 11, 69, 42, 4, 38, 62, 6] 64

Week 11:
[29, 98, 5, 48, 58, 30, 77, 107, 110, 21, 78, 63, 68, 54, 25, 49, 37, 6, 1, 75, 60, 16, 13, 23, 34, 67, 89, 2, 83, 14, 41, 15, 24, 11, 52, 36, 9, 26, 44, 59, 73, 43, 8, 31, 28, 7, 17, 55, 72, 62, 87, 4, 38, 51, 50, 69, 27, 42, 53] 59

Week 12:
[34, 63, 38, 84, 65, 16, 55, 71, 78, 68, 70, 15, 77, 30, 107, 1, 9, 24, 44, 18, 32, 53, 6, 81, 66, 41, 52, 8, 2, 60, 75, 49, 26, 72, 67, 69, 43, 42, 51, 62, 31, 59, 13, 73, 28, 50, 87, 7, 17, 27, 4] 51

Week 13:
[44, 71, 77, 29, 70, 9, 84, 43, 54, 18, 41, 63, 49, 35, 52, 60, 24, 68, 83, 30, 32, 78, 66, 1, 51, 65, 17, 75, 67, 2, 8, 13, 28, 59, 72, 31, 73, 81, 62, 69, 7, 26, 27, 42, 53, 6, 50, 4] 48

Week 14:
[71, 17, 52, 78, 9, 84, 29, 35, 54, 70, 68, 53, 27, 32, 63, 66, 49, 75, 41, 24, 28, 51, 81, 73, 1, 67, 72, 30, 31, 13, 83, 59, 2, 62, 42, 65, 69, 8, 7, 50, 4, 6] 42

Week 15:
[26, 27, 71, 83, 44, 65, 63, 18, 49, 39, 32, 68, 35, 66, 13, 24, 7, 51, 75, 30, 41, 31, 2, 73, 62, 69, 67, 9, 42, 72, 1, 50, 8, 81, 59, 4, 6] 37

Week 16:
[83, 31, 66, 87, 7, 48, 26, 78, 36, 35, 68, 41, 30, 63, 32, 9, 49, 13, 39, 18, 8, 71, 24, 51, 75, 27, 73, 67, 2, 62, 42, 1, 72, 69, 59, 6, 50, 4] 38

Week 17:
[78, 87, 71, 77, 83, 26, 51, 18, 8, 66, 63, 41, 30, 17, 27, 68, 32, 1, 24, 73, 75, 50, 13, 7, 42, 2, 67, 69, 59, 72, 4] 31

Week 18:
[36, 39, 18, 32, 89, 63, 30, 17, 77, 78, 66, 68, 71, 83, 26, 75, 73, 51, 24, 50, 87, 67, 1, 59, 62, 69, 42, 72, 2, 4] 30

Week 19:
[17, 58, 43, 32, 13, 63, 26, 66, 83, 30, 39, 18, 73, 68, 87, 9, 51, 24, 1, 75, 59, 60, 67, 2, 42, 50, 72, 62, 69, 4] 30

Week 20:
[13, 18, 77, 2, 66, 51, 68, 75, 42, 1, 67, 72, 24, 73, 50, 59, 69, 4, 62] 19

In [8]:
for week, group in df.groupby('week'):
    print(f'Week {week}:')
    df_week = df[df['week'] == week]    
    count_id_ori_each_week = df_week['id'].value_counts().reset_index()
    count_id_ori_each_week.columns = ['id', 'count']

    print(count_id_ori_each_week)

Week 10:
     id   count
0     6  238005
1    62  209941
2    38  200805
3     4  198951
4    42  183845
..  ...     ...
59    5    4110
60  107    3215
61   63    1221
62   18     923
63   98     444

[64 rows x 2 columns]
Week 11:
     id   count
0    53  311171
1    42  288453
2    27  256638
3    69  243740
4    50  241614
5    51  216169
6    38  208422
7     4  195647
8    87  195320
9    62  190390
10   72  163536
11   55  159087
12   17  149269
13    7  140274
14   28  137035
15   31  136774
16    8  136629
17   43  134535
18   73  122894
19   59  121514
20   44  116557
21   26  113238
22    9  109638
23   36   91063
24   52   84146
25   11   76972
26   24   74595
27   15   67135
28   41   62907
29   14   57700
30   83   57338
31    2   56993
32   89   54949
33   67   53496
34   34   51920
35   23   40703
36   13   39178
37   16   38757
38   60   35893
39   75   35739
40    1   32587
41    6   29598
42   37   26438
43   49   23574
44   25   20949
45   54   19377
46   68   16790
47   63   15399
48   78   11050
49   21   10878
50  110    8471
51  107    8388
52   77    8211
53   30    7829
54   58    4945
55   48    3940
56    5    3772
57   98    1791
58   29    1251
Week 12:
     id   count
0     4  249398
1    27  217360
2    17  213118
3     7  183814
4    87  183669
5    50  180045
6    28  170287
7    73  152605
8    13  129496
9    59  124061
10   31  119217
11   62  117390
12   51  116951
13   42  109114
14   43  108906
15   69  102983
16   67  101775
17   72   95585
18   26   90710
19   49   79191
20   75   76802
21   60   69658
22    2   69531
23    8   68719
24   52   67352
25   41   65954
26   66   59635
27   81   59589
28    6   58664
29   53   48778
30   32   46745
31   18   44981
32   44   41934
33   24   41134
34    9   41093
35    1   40078
36  107   37157
37   30   31469
38   77   26671
39   15   19224
40   70   16849
41   68   14882
42   78   13465
43   71   13371
44   55   12234
45   16    6711
46   65    6156
47   84    4396
48   38    3247
49   63     989
50   34      14
Week 13:
    id   count
0    4  255331
1   50  246617
2    6  236633
3   53  227772
4   42  218534
5   27  207890
6   26  202582
7    7  200462
8   69  198794
9   62  196445
10  81  194606
11  73  189500
12  31  173865
13  72  171305
14  59  156971
15  28  149158
16  13  140676
17   8  132589
18   2  122580
19  67  118341
20  75  109996
21  17   94375
22  65   78357
23  51   76683
24   1   70359
25  66   59580
26  78   56011
27  32   54500
28  30   48969
29  83   46278
30  68   39365
31  24   38435
32  60   38058
33  52   30749
34  35   27767
35  49   27315
36  63   23690
37  41   21773
38  18   21766
39  54   15384
40  43   12853
41  84   12293
42   9   11845
43  70    7491
44  29    5910
45  77    5269
46  71    3910
47  44      49
Week 14:
    id   count
0    6  327245
1    4  246519
2   50  229367
3    7  158832
4    8  158487
5   69  155983
6   65  154582
7   42  149769
8   62  143289
9    2  141304
10  59  138771
11  83  133107
12  13  131947
13  31  108782
14  30   83664
15  72   81472
16  67   72681
17   1   72086
18  73   64970
19  81   61749
20  51   58755
21  28   49265
22  24   48783
23  41   46678
24  75   40854
25  49   40182
26  66   34575
27  63   30460
28  32   25996
29  27   23807
30  53   20825
31  68   16236
32  70   12361
33  54   11825
34  35   11006
35  29   10862
36  84    9264
37   9    9105
38  78    9085
39  52    5235
40  17    4532
41  71     988
Week 15:
    id   count
0    6  290113
1    4  254884
2   59  237176
3   81  232623
4    8  230495
5   50  212878
6    1  199893
7   72  169877
8   42  155154
9    9  138318
10  67  135401
11  69  117045
12  62  115742
13  73  112848
14   2  100047
15  31   77391
16  41   71117
17  30   66098
18  75   65951
19  51   51612
20   7   51215
21  24   49495
22  13   43615
23  66   42123
24  35   35027
25  68   26541
26  32   22937
27  39   20675
28  49   19569
29  18   18271
30  63   17052
31  65   10635
32  44    8090
33  83    7505
34  71    1012
35  27     568
36  26      19
Week 16:
    id   count
0    4  285793
1   50  239186
2    6  195492
3   59  187427
4   69  179731
5   72  158730
6    1  144035
7   42  138378
8   62  122453
9    2  108897
10  67   97159
11  73   95008
12  27   84292
13  75   80269
14  51   66821
15  24   62760
16  71   58148
17   8   55830
18  18   45135
19  39   41847
20  13   30472
21  49   29350
22   9   27915
23  32   26443
24  63   23307
25  30   18764
26  41   16348
27  68    8027
28  35    7113
29  36    6975
30  78    5331
31  26    5089
32  48    4099
33   7    4063
34  87    3545
35  66    2933
36  31    1864
37  83     578
Week 17:
    id   count
0    4  276234
1   72  215387
2   59  147988
3   69  143926
4   67  139143
5    2  136794
6   42  132791
7    7  123758
8   13  116825
9   50  111681
10  75   95209
11  73   85925
12  24   80211
13   1   69124
14  32   47601
15  68   32183
16  27   21337
17  17   16059
18  30   14736
19  41   14500
20  63   13402
21  66   12192
22   8    9248
23  18    6532
24  51    6113
25  26    5620
26  83    5260
27  77    4044
28  71    3327
29  87    3201
30  78    1306
Week 18:
    id   count
0    4  287864
1    2  187755
2   72  175761
3   42  173609
4   69  168737
5   62  161613
6   59  105805
7    1   98905
8   67   94531
9   87   85778
10  50   85079
11  24   75202
12  51   71336
13  73   57243
14  75   51168
15  26   34312
16  83   24264
17  71   17641
18  68   11855
19  66   11652
20  78   10576
21  77    9575
22  17    7969
23  30    6446
24  63    4002
25  89    3586
26  32    2660
27  18    2190
28  39      68
29  36      57
Week 19:
    id   count
0    4  335942
1   69  224026
2   62  196825
3   72  167881
4   50  153061
5   42  136038
6    2  134631
7   67  134454
8   60  125797
9   59  117795
10  75   99873
11   1   80943
12  24   70008
13  51   38215
14   9   36672
15  87   33645
16  68   32663
17  73   28647
18  18   23605
19  39   20671
20  30   16344
21  83   11556
22  66    6849
23  26    5922
24  63    3006
25  13    2067
26  32    1962
27  43    1053
28  58     722
29  17     571
Week 20:
    id  count
0   62  38252
1    4  35180
2   69  35074
3   59  28260
4   50  27189
5   73  26494
6   24  23945
7   72  20032
8   67  19298
9    1  11670
10  42   9916
11  75   9765
12  68   6339
13  51   3644
14  66   1911
15   2    366
16  77    195
17  18    157
18  13      2

In [2]:
#Random minute : returns a new date by adding or subtracting the random number of minutes, depending on whether the hour remains the same.
def random_minute(date):
    rand_min = random.randint(-29,29)
    return date - dt.timedelta(minutes=rand_min) if date.hour == (date - dt.timedelta(minutes=rand_min)).hour else date + dt.timedelta(minutes=rand_min)

#Change date to random (same week)
def change_date(date):
    rand_day = int(np.random.choice([-1,0,1], p=[0.02, 0.96, 0.02]))
    return date - dt.timedelta(days=rand_day) if date.isocalendar()[1] == (date - dt.timedelta(days=rand_day)).isocalendar()[1] else date + dt.timedelta(days=rand_day)

In [3]:
#Set id to 'DEL' with lines duplicated and retain only the first occurrence of each unique combination of values in these columns.
id_time = df.drop_duplicates(['id', 'date', 'latitude', 'longitude'])
print(id_time.shape)

index_not_change = np.array(id_time.index)
df.loc[~df.index.isin(index_not_change) , 'id'] = "DEL"

print(df.head())

(16654892, 5)
    id                date  latitude  longitude  week
0    1 2015-03-04 00:35:00  4.870147  45.772140    10
1    1 2015-03-04 00:35:00  4.870218  45.772095    10
2    1 2015-03-04 00:35:00  4.870210  45.772072    10
3  DEL 2015-03-04 00:35:00  4.870210  45.772072    10
4  DEL 2015-03-04 00:35:00  4.870210  45.772072    10

In [5]:
df

           id                date  latitude  longitude  week
0           1 2015-03-04 00:35:00  4.870147  45.772140    10
1           1 2015-03-04 00:35:00  4.870218  45.772095    10
2           1 2015-03-04 00:35:00  4.870210  45.772072    10
3         DEL 2015-03-04 00:35:00  4.870210  45.772072    10
4         DEL 2015-03-04 00:35:00  4.870210  45.772072    10
...       ...                 ...       ...        ...   ...
34551844  110 2015-03-12 16:23:00  2.343094  48.891650    11
34551845  110 2015-03-12 16:23:00  2.343094  48.891650    11
34551846  110 2015-03-12 16:23:00  2.343094  48.891649    11
34551847  110 2015-03-12 16:23:00  2.343094  48.891649    11
34551848  110 2015-03-12 19:29:00  2.343127  48.891772    11

[34551849 rows x 5 columns]

In [6]:
#Change lat-long
df['latitude'] = df['latitude'] + 0.005 * (1 / (1 + np.tan(df['latitude']) * np.tan(df['latitude'])))
df['longitude'] = df['longitude'] + 0.005 * (1 / (1 + np.tan(df['longitude']) * np.tan(df['longitude'])))

In [8]:
#Apply random_minute for the ids not DEL
df.loc[df['id'] != 'DEL', 'date'] = df.loc[df['id'] != 'DEL', 'date'].apply(random_minute)

#Apply change_date for the ids not DEL
df.loc[df['id'] != 'DEL', 'date'] = df.loc[df['id'] != 'DEL', 'date'].apply(change_date)

In [15]:
for week, group in id_time.groupby('week'):
    print(f'Week {week}:')
    id_time_week = id_time[id_time['week'] == week]    
    count_id_ori_each_week = id_time_week['id'].value_counts().reset_index()
    count_id_ori_each_week.columns = ['id', 'count']

    print(count_id_ori_each_week)

Week 10:
     id   count
0     6  222194
1     4  117768
2    11   97240
3    38   87014
4    42   66530
..  ...     ...
59   66    2992
60  107    2210
61   63     921
62   18     752
63   98     344

[64 rows x 2 columns]
Week 11:
     id   count
0    50  126067
1    69  121589
2    27  116479
3    51  113625
4     4  109532
5    42   99890
6    38   97228
7    53   93147
8    72   92751
9     8   77954
10   28   74121
11   55   67150
12    9   66603
13   43   62098
14    7   57972
15   26   52211
16   59   51345
17   17   49828
18   31   48240
19    2   44983
20   44   44204
21   11   41443
22   24   41126
23   87   40434
24   15   38426
25   52   38146
26   14   36644
27   89   32242
28   67   32093
29   73   30715
30   62   26404
31    6   26272
32   83   25460
33   23   24810
34   34   24373
35    1   22629
36   36   22407
37   13   22142
38   41   22126
39   75   20946
40   25   15693
41   60   13751
42   37   12962
43   68   12558
44   54   10233
45   63   10210
46   49    9690
47  110    7828
48   78    6359
49  107    5912
50   21    5838
51   30    4396
52   77    3941
53   48    2901
54   16    2688
55   58    2610
56    5    2101
57   98     629
58   29     116
Week 12:
     id   count
0     4  140834
1     7   83563
2    27   83161
3    50   71132
4    17   65801
5    13   61945
6    72   61769
7    59   59536
8    69   55964
9     2   52984
10   42   51220
11   51   49323
12   26   48572
13    6   45361
14   75   42731
15   67   42568
16    8   41024
17   43   40461
18   49   37805
19   60   34809
20   31   34122
21   52   33644
22   73   30378
23   81   28727
24   41   28307
25   32   27291
26   28   26339
27   24   25114
28  107   24554
29   66   23105
30   30   20109
31   18   19053
32   87   18205
33    1   17640
34   53   17226
35   62   16576
36    9   16306
37   77   14422
38   15   10024
39   70    9816
40   68    9367
41   44    8780
42   78    7007
43   55    6030
44   71    4705
45   65    3840
46   16    1862
47   38    1443
48   84    1309
49   63     637
50   34       7
Week 13:
    id   count
0    6  217933
1    4  146832
2   81  124589
3   50  120527
4   69  107934
5   27  101889
6   42  101834
7    2   89506
8    7   87571
9   26   84949
10  72   80764
11  53   75726
12   8   70107
13  73   69035
14  59   68436
15  13   65391
16  67   64030
17  62   55019
18   1   48395
19  75   47425
20  51   46537
21  28   39998
22  65   37489
23  66   36352
24  31   35690
25  17   33807
26  78   28904
27  30   26516
28  24   22637
29  52   21944
30  60   20953
31  68   16564
32  35   15205
33  32   15133
34  83   14883
35  18   13371
36  49   11561
37  63   11324
38  41    9395
39  84    8427
40   9    8084
41  54    6854
42  43    5282
43  77    4801
44  70    3564
45  29    2910
46  71    2121
47  44      18
Week 14:
    id   count
0    6  301909
1   50  133569
2    4  133245
3    8   93652
4   65   89675
5    2   86947
6   69   76158
7    7   69189
8   42   67669
9   13   62930
10  59   52302
11  72   50684
12   1   45999
13  31   38314
14  83   38277
15  51   37934
16  62   35185
17  81   34789
18  67   34165
19  41   30231
20  24   25184
21  30   24809
22  75   22220
23  66   18031
24  73   16557
25  49   16490
26  28   15810
27  63   13628
28  32   12388
29  53   10688
30  70    8610
31  68    7662
32  78    6286
33   9    6171
34  35    5975
35  27    5623
36  29    4404
37  54    4202
38  84    4065
39  17    3031
40  52    1397
41  71     399
Week 15:
    id   count
0    6  261858
1    4  153704
2   81  131475
3    8  123238
4   72  108528
5    1   92738
6    9   90272
7   59   86724
8   50   78688
9    2   67936
10  42   66027
11  69   57974
12  67   54355
13  62   53202
14  73   38099
15  75   31240
16  24   30066
17  41   27593
18  51   26854
19   7   25259
20  13   23069
21  31   20474
22  30   19955
23  35   16787
24  66   16346
25  39   12916
26  32   11377
27  68   11094
28  49   11081
29  18   10782
30  65    8150
31  63    5951
32  83    3480
33  44     606
34  71     514
35  27      76
36  26      10
Week 16:
    id   count
0    6  182948
1    4  161054
2   69   96512
3    1   84978
4    2   81274
5   72   79471
6   59   74579
7   42   70163
8   62   60621
9   67   42756
10  75   41848
11  50   40721
12  51   37317
13   8   35822
14  24   31185
15  73   25021
16  27   21237
17   9   20228
18  18   18834
19  71   14615
20  39   10721
21  13   10156
22  63    9949
23  30    6264
24  68    5931
25  26    3875
26  48    3763
27  35    3614
28  36    3162
29  78    2815
30   7    2650
31  32    2424
32  49    1964
33  41    1484
34  66    1205
35  31    1012
36  87     864
37  83     162
Week 17:
    id   count
0    4  167757
1   72  111254
2    7   79617
3   69   75691
4   42   71852
5    2   63660
6   67   60390
7   59   55644
8   50   52604
9   13   47238
10  24   46005
11   1   44769
12  75   39451
13  73   27576
14  68   21369
15  32   14227
16  17   12659
17  27    6613
18   8    6552
19  30    6428
20  41    5997
21  63    4887
22  18    3902
23  66    3664
24  51    3449
25  26    2404
26  71    1739
27  77    1567
28  78    1130
29  83     745
30  87     514
Week 18:
    id   count
0    4  161850
1    2  141292
2   72  126205
3   69   89332
4   42   79432
5   62   76709
6    1   71560
7   67   48946
8   59   47189
9   51   43120
10  24   40927
11  75   27011
12  50   25975
13  26   19181
14  87   14068
15  73   11066
16  83    8706
17  68    8511
18  71    8004
19  78    4903
20  77    3951
21  66    3936
22  17    3806
23  89    2171
24  30    2110
25  63    1787
26  18    1214
27  32    1096
28  39      39
29  36      24
Week 19:
    id   count
0    4  130074
1   69  121078
2   72  115362
3    2  110203
4   50   85624
5   42   68407
6   60   67179
7   67   59393
8   75   55073
9   59   53898
10  62   49339
11   1   48824
12  24   29694
13  68   23375
14   9   20952
15  51   16931
16  18   11645
17  39    8126
18  87    7365
19  30    5368
20  83    5142
21  26    4064
22  66    2848
23  73    2429
24  63    1228
25  13    1152
26  43     721
27  32     586
28  17     548
29  58     182
Week 20:
    id  count
0    4  24041
1   69  17634
2   50  16355
3   59  13815
4   62  13362
5   72  13255
6   67   9569
7   24   7978
8    1   6728
9   75   5519
10  42   5476
11  68   3054
12  51   2476
13  73   2022
14  66   1060
15   2    341
16  18    148
17  77    128
18  13      2

In [9]:
#Id anonymisation
id_time['new_id'] =  id_time['id'] + id_time['week']

id_time['new_id'] = id_time['new_id'].apply(lambda x: abs(int(1000 * np.tan(x))))
df.loc[df['id'] != 'DEL', 'id'] = id_time['new_id']

C:\Users\Phuoc Le\AppData\Local\Temp\ipykernel_10860\573553612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_time['new_id'] =  id_time['id'] + id_time['week']
C:\Users\Phuoc Le\AppData\Local\Temp\ipykernel_10860\573553612.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_time['new_id'] = id_time['new_id'].apply(lambda x: abs(int(1000 * np.tan(x))))

In [10]:
df

              id                date  latitude  longitude  week
0         225950 2015-03-04 00:40:00  4.870270  45.772376    10
1         225950 2015-03-04 00:18:00  4.870342  45.772331    10
2         225950 2015-03-04 00:51:00  4.870334  45.772308    10
3            DEL 2015-03-04 00:35:00  4.870334  45.772308    10
4            DEL 2015-03-04 00:35:00  4.870334  45.772308    10
...          ...                 ...       ...        ...   ...
34551844   20524 2015-03-12 16:35:00  2.345528  48.891841    11
34551845   20524 2015-03-12 16:25:00  2.345528  48.891841    11
34551846   20524 2015-03-12 16:26:00  2.345528  48.891841    11
34551847   20524 2015-03-12 16:26:00  2.345528  48.891841    11
34551848   20524 2015-03-12 19:37:00  2.345562  48.891964    11

[34551849 rows x 5 columns]

In [30]:
id_new_week_ori = new_df.groupby('id')['week'].unique()
list_new_id_ori = new_df["id"].unique()
print(np.sort(list_new_id_ori), len(list_new_id_ori))

[8 17 26 35 106 115 124 133 151 160 169 178 188 252 262 271 281 300 310
 320 329 339 400 410 420 431 441 463 473 484 495 506 587 599 611 623 635
 661 673 686 699 713 796 810 825 840 855 887 903 919 935 952 1059 1078
 1097 1117 1137 1178 1200 1221 1244 1415 1442 1470 1498 1527 1588 1619
 1652 1685 1995 2040 2086 2134 2237 2291 2347 2406 2468 2987 3077 3172
 3273 3493 3614 3743 3880 4027 5191 5451 5737 6053 6405 7244 7750 8330
 9003 9792 20524 25092 32268 45183 75313 225950] 104

In [31]:
for week, group in new_df.groupby('week'):
    print(f'Week {week}:')
    new_df_week = new_df[new_df['week'] == week]    
    count_id_ori_each_week = new_df_week['id'].value_counts().reset_index()
    count_id_ori_each_week.columns = ['id', 'count']

    print(count_id_ori_each_week)

Week 10:
      id   count
0    300  222194
1   7244  117768
2   1527   97240
3   1200   87014
4   6053   66530
..   ...     ...
59   686    2992
60   952    2210
61   919     921
62   281     752
63  2468     344

[64 rows x 2 columns]
Week 11:
       id   count
0    3743  126067
1    9003  121589
2     310  116479
3    1097  113625
4     855  109532
5     431   99890
6    3172   97228
7    2347   93147
8    3880   92751
9     151   77954
10   3614   74121
11     26   67150
12   2237   66603
13    673   62098
14   1137   57972
15    840   52211
16   1221   51345
17    281   49828
18   2291   48240
19    463   44983
20  45183   44204
21      8   41443
22    473   41126
23    699   40434
24   1178   38426
25    169   38146
26    133   36644
27    587   32242
28    599   32093
29   1078   30715
30    919   26404
31   3493   26272
32    252   25460
33    623   24810
34   1619   24373
35    635   22629
36    124   22407
37   2134   22142
38   6053   22126
39   2406   20946
40   7750   15693
41   3077   13751
42   1200   12962
43    495   12558
44   1470   10233
45   5737   10210
46    320    9690
47  20524    7828
48   1685    6359
49   5191    5912
50    661    5838
51    160    4396
52     35    3941
53    825    2901
54   3273    2688
55    115    2610
56    300    2101
57   1415     629
58   1117     116
Week 12:
       id   count
0     300  140834
1     151   83563
2    3614   83161
3    1097   71132
4     887   65801
5     133   61945
6    1078   61769
7    3077   59536
8     810   55964
9    7244   52984
10    673   51220
11    169   49323
12    310   48572
13   1137   45361
14   1442   42731
15    495   42568
16   2237   41024
17  45183   40461
18   3743   37805
19    262   34809
20   1498   34122
21   2347   33644
22    178   30378
23   2987   28727
24    431   28307
25     17   27291
26   1117   26339
27   7750   25114
28    400   24554
29    599   23105
30   2291   20109
31   6405   19053
32  25092   18205
33    463   17640
34   1470   17226
35   5737   16576
36   1527   16306
37   1685   14422
38   3273   10024
39    329    9816
40   9003    9367
41    611    8780
42   1995    7007
43   1652    6030
44   3880    4705
45  32268    3840
46    281    1862
47    271    1443
48   5451    1309
49    420     637
50   2086       7
Week 13:
       id   count
0     151  217933
1    3493  146832
2     252  124589
3     169  120527
4     329  107934
5    1117  101889
6   45183  101834
7     855   89506
8    2237   87571
9    3614   84949
10    178   80764
11     26   75726
12   1527   70107
13   2406   69035
14    262   68436
15   1178   65391
16   9003   64030
17    420   55019
18   7244   48395
19     35   47425
20   2347   46537
21    160   39998
22    599   37489
23    495   36352
24     17   35690
25   6405   33807
26    106   28904
27   1498   26516
28    840   22637
29   1470   21944
30    919   20953
31    810   16564
32   1200   15205
33   1619   15133
34   5451   14883
35    441   13371
36   1097   11561
37    686   11324
38    673    9395
39    410    8427
40      8    8084
41   1652    6854
42    611    5282
43   1995    4801
44   3880    3564
45   2291    2910
46   1078    2121
47    484      18
Week 14:
       id   count
0    2237  301909
1    2347  133569
2    1137  133245
3       8   93652
4     495   89675
5     300   86947
6    3880   76158
7    1527   69189
8     611   67669
9    3273   62930
10    919   52302
11   2406   50684
12    855   45999
13   1619   38314
14    410   38277
15   1470   37934
16    686   35185
17    935   34789
18    810   34165
19  45183   30231
20    310   25184
21     17   24809
22   1685   22220
23   9003   18031
24   1442   16557
25    169   16490
26   2291   15810
27  32268   13628
28   2086   12388
29   1652   10688
30   1078    8610
31    329    7662
32   1244    6286
33   1588    6171
34   3172    5975
35    160    5623
36   1498    4404
37   2040    4202
38    699    4065
39    441    3031
40     26    1397
41    178     399
Week 15:
       id   count
0    1527  261858
1     151  153704
2    5451  131475
3    1588  123238
4    1442  108528
5     300   92738
6    2134   90272
7    5737   86724
8    1470   78688
9    3493   67936
10    484   66027
11   1078   57974
12    329   54355
13  32268   53202
14     35   38099
15   1995   31240
16   3614   30066
17    611   27593
18     26   26854
19      8   25259
20    281   23069
21   2086   20474
22   1619   19955
23    271   16787
24    810   16346
25    673   12916
26    124   11377
27   3880   11094
28   2347   11081
29  75313   10782
30   9003    8150
31    599    5951
32    699    3480
33    825     606
34   2406     514
35   2291      76
36    160      10
Week 16:
       id   count
0       8  182948
1    2237  161054
2     178   96512
3    3493   84978
4    1137   81274
5      35   79471
6     420   74579
7    8330   70163
8     599   60621
9    3880   42756
10    106   41848
11     26   40721
12   1652   37317
13   2134   35822
14   1117   31185
15   1685   25021
16   1498   21237
17    133   20228
18    623   18834
19   1442   14615
20  45183   10721
21    887   10156
22    495    9949
23   2086    6264
24   1078    5931
25   2291    3875
26   2347    3763
27    903    3614
28   6053    3162
29    252    2815
30   1588    2650
31   1200    2424
32   1470    1964
33    484    1484
34    329    1205
35    124    1012
36    796     864
37  25092     162
Week 17:
      id   count
0   1527  167757
1   1685  111254
2   2134   79617
3   2406   75691
4    825   71852
5    151   63660
6   1078   60390
7    686   55644
8   1652   52604
9   6405   47238
10   160   46005
11  1137   44769
12  1244   39451
13  1995   27576
14   178   21369
15  3172   14227
16   623   12659
17    17    6613
18   133    6552
19   124    6428
20  8330    5997
21  9003    4887
22   473    3902
23  3880    3664
24  2040    3449
25  1498    2404
26    35    1739
27   252    1567
28   935    1130
29   587     745
30   339     514
Week 18:
       id   count
0       8  161850
1    2237  141292
2    1995  126205
3    1442   89332
4     320   79432
5    9003   76709
6     151   71560
7     178   48946
8   32268   47189
9     115   43120
10   2291   40927
11   2987   27011
12   2040   25975
13     17   19181
14   4027   14068
15    106   11066
16    506    8706
17   2406    8511
18   1685    8004
19   5451    4903
20    935    3951
21   1078    3936
22    473    3806
23    188    2171
24   1200    2110
25    810    1787
26   7750    1214
27    271    1096
28    484      39
29    673      24
Week 19:
       id   count
0    1588  130074
1      35  121078
2     106  115362
3    1527  110203
4     115   85624
5    3743   68407
6     495   67179
7    2406   59393
8     252   55073
9     599   53898
10    810   49339
11   2237   48824
12   1498   29694
13   1442   23375
14    281   20952
15   1221   16931
16    840   11645
17   8330    8126
18   1059    7365
19   3172    5368
20   9792    5142
21   1619    4064
22    178    2848
23   1244    2429
24    329    1228
25    661    1152
26   1097     721
27    903     586
28   7750     548
29  32268     182
Week 20:
       id  count
0    2134  24041
1    1685  17634
2    1221  16355
3     495  13815
4     329  13362
5    1244  13255
6    1442   9569
7      17   7978
8    1527   6728
9     935   5519
10   1097   5476
11     35   3054
12   3077   2476
13   2987   2022
14   2406   1060
15      8    341
16    310    148
17    410    128
18  75313      2

In [11]:
df = df.drop('week', axis = 1)

In [12]:
df

              id                date  latitude  longitude
0         225950 2015-03-04 00:40:00  4.870270  45.772376
1         225950 2015-03-04 00:18:00  4.870342  45.772331
2         225950 2015-03-04 00:51:00  4.870334  45.772308
3            DEL 2015-03-04 00:35:00  4.870334  45.772308
4            DEL 2015-03-04 00:35:00  4.870334  45.772308
...          ...                 ...       ...        ...
34551844   20524 2015-03-12 16:35:00  2.345528  48.891841
34551845   20524 2015-03-12 16:25:00  2.345528  48.891841
34551846   20524 2015-03-12 16:26:00  2.345528  48.891841
34551847   20524 2015-03-12 16:26:00  2.345528  48.891841
34551848   20524 2015-03-12 19:37:00  2.345562  48.891964

[34551849 rows x 4 columns]

In [13]:
# Save file
df.to_csv('trigonometry_2.csv', sep='\t', index = False, header = False, columns = None)