In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('test_dataset.csv', sep = "\t", names = ['Id', 'DateAndTime', 'Longitude', 'Latitude'])

In [3]:
df

     Id          DateAndTime  Longitude  Latitude
0     1  2015-03-04 00:35:48   0.527129  0.358134
1     1  2015-03-04 00:35:49   0.341051  0.329298
2     1  2015-03-04 00:35:50   0.705571  0.122502
3     1  2015-03-04 00:35:52   0.618180  0.567444
4     1  2015-03-04 00:35:54   0.686230  0.560744
..   ..                  ...        ...       ...
494   1  2015-03-04 01:03:28   0.788060  0.225917
495   1  2015-03-04 01:03:30   0.668119  0.718251
496   1  2015-03-04 01:03:32   0.173801  0.770294
497   1  2015-03-04 01:03:33   0.835937  0.000620
498   1  2015-03-04 01:03:35   0.350427  0.936959

[499 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           499 non-null    int64
 1   DateAndTime  499 non-null    object
 2   Longitude    499 non-null    float64
 3   Latitude     499 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 15.7+ KB

In [1]:
df[['Date','Time']] = df.DateAndTime.str.split(expand=True)

NameError: name 'df' is not defined